html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family : 'Jua', sans-serif;
  line-height: 1.5;
}
*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
::-moz-selection {
  background: #ffdc00;
}
::selection {
  background: #ffdc00;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #444452;
  width: 100%

}

body::-webkit-scrollbar{
  width: 0.75em;
}

body::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100px;
  vertical-align: middle;
  height: auto;
}

strong {
  font-weight: 700;
  color: #36363c;
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px 170px;
}

@media screen and (max-width:1280px) {
  .section {
  padding: 100px;
}
}

@media screen and (max-width:1024px) {
  .section {
  padding: 50px;
}
}

@media screen and (max-width:768px) {
  .section {
  display: block;
}
}

@media screen and (max-width:480px) {
  .section {
  padding: 50px 35px;
}
}

.section__title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;
  color: #007bff;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (max-width:1024px) {
  .section__title {
  margin-right: 50px;
}
}

@media screen and (max-width:850px) {
  .section__title {
  width: 150px;
}
}

@media screen and (max-width:768px) {
  .section__title {
  text-align: left;
  width: auto;
}
}

.section__content {
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  max-width: 650px;
}

@media screen and (max-width:768px) {
  .section__content {
  padding-top: 30px;
  padding-left: 50px;
}
}

@media screen and (max-width:480px) {
  .section__content {
  padding-left: 30px;
}
}

.section__content p {
  margin-top: 0;
  margin-bottom: 25px;
}

.intro {
  padding: 120px 100px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width:630px) {
  .intro {
  padding: 120px 70px;
}
}

@media screen and (max-width:550px) {
  .intro {
  padding: 120px 50px;
}
}

@media screen and (max-width:480px) {
  .intro {
  padding: 70px 50px;
}
}

.introhello {
  font-size: 2.5rem;
}

@media screen and (max-width:1024px) {
  .introhello {
  font-size: 2.25rem;
}
}

@media screen and (max-width:768px) {
  .introhello {
  font-size: 2rem;
}
}

@media screen and (max-width:550px) {
  .introhello {
  font-size: 1.75rem;
}
}

@media screen and (max-width:360px) {
  .introhello {
  font-size: 1.5rem;
}
}

@media screen and (max-width:330px) {
  .introhello {
  font-size: 1.4rem;
}
}


.introhello .emoji{
  width: 48px;
  height: 48px;
}

.introcontact {
  font-size: 1.25rem;
  font-weight: 400;
  
}
@media screen and (max-width:550px) {
  .introcontact {
  font-size: 1rem;
}
}.introcontact .emoji.pointer {
  background-image: url(../img/emojis/pointright.png);
  width: 30px;
  height: 30px;
  margin: 0 5px;
  vertical-align: text-bottom;
}
@media screen and (max-width:550px) {
  .introcontact .emoji .pointer {
  width: 25px;
  height: 25px;
}
}.introcontact .highlight-link {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -3px 0 #007bff;
  box-shadow: inset 0 -3px 0 #007bff;
}
.introcontact .highlight-link:hover {
  -webkit-box-shadow: inset 0 -33px 0 0 #007bff;
  box-shadow: inset 0 -33px 0 0 #007bff;
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width:1024px) {
  .footer {
  padding: 50px;
}
}
@media screen and (max-width:630px) {
  .footer {
  display: block;
}
}
@media screen and (max-width:480px) {
  .footer {
  padding: 50px 30px;
}
}

@media screen and (max-width:630px) {
  .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
}

.footer__links a {
  position: relative;
  display: inline-block;
  color: #007bff!important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}

@media screen and (max-width:1024px) {
  .footer__links a {
  margin: 0 10px;
}
}

.footer__links a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #007bff;
  content: '';
  opacity: 0;
  -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
  transition: height .3s, opacity .3s, -webkit-transform .3s;
  transition: height .3s, opacity .3s, transform .3s;
  transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

@media screen and (max-width:850px) {
  .footer__links a after {
  display: none;
}
}

.footer__links a:focus:after, .footer__links a:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer__links a .text {
  font-size: .9rem;
  display: inline;
  letter-spacing: 1px;
}

@media screen and (max-width:850px) {
  .footer__links a .text {
  display: none;
}
}

.footer__links img {
  display: none;
  width: 22px;
}

@media screen and (max-width:850px) {
  .footer__links img {
  display: inline-block;
}

.container {
  width: 100%;
}

.container-fluid
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.lang
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tools
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}




@media screen and (min-width: 400px) {
  .lang{
  flex: 1 1 auto;
  width: 50%;
  }
  .tools{
  flex: 1 1 auto;
  width: 50%;
  }
}


.nav {
height: 50px;
width: 100%;
background-color: #007bff!important;
position: relative;
color: #fff;
font-family: 'Covered By Your Grace', cursive;
font-size: 2em;
font-weight: 350;
letter-spacing: 1px;
text-shadow: 0 0 10px #1D2A36;
word-spacing: 2px;
}

.nav > .nav-header {
display: inline;
}

.nav > .nav-header > .nav-title {
display: inline-block;
font-size: 22px;
color: #cee;
padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
display: none;
}

.nav > .nav-links {
display: inline;
font-size: 18px;
}

.nav > .nav-links > a {
display: inline-block;
padding: 13px 10px 13px 10px;
text-decoration: none;
color: #efefec;
}

.nav > .nav-links > a:hover {
background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
display: none;
}

@media (max-width:600px) {
.nav > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.nav > .nav-btn > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
}
.nav > .nav-btn > label:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #cee;
}
.nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color:#484848;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
}
.nav > .nav-links > a {
  display: block;
  width: 100%;
}
.nav > #nav-check:not(:checked) + .nav-links {
  height: 0px;
}
.nav > #nav-check:checked + .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
}
}
}

form {
  border: 2px solid #778899;
  margin : 0 auto;
  margin-bottom: 1em;
  background: #76ABD8;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative
}

textarea {
  display : block;

  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 340px;
  height  : 360px;

  resize  : none;
  overflow: auto;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

input:focus {
  border-bottom: 2px solid #78788c
}

#svg-container
{
align-items: center;
}

#pdf-svg
{
  margin: 0 auto;
  display: block;
  fill: red;
  align-content: flex-end;
  width: 22%;
  height: 26%;
}

.arrow
{
  font-size: 3rem;
}
@media (max-width:600px) {
  .arrow
  {
      font-size: 1.5rem;
  }   
}
.tabs {
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 90%;
  height: 85%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 350px;
  overflow: hidden;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  color: #428BFF;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}

.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 50%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428BFF;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428BFF;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 200px;
  height: 40px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

.dot
{
height: 13px;
width: 13px;
border-radius: 50%;
display: inline-block;
}

@media (max-width:600px) {
  .dot
  {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  }
}

details, h2 {
  margin: 20px auto 80px;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

details {
  width: 100%;
  min-height: 5px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details ul {
  color: #96999d;
  font-weight: 300;
}

summary {
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  padding: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  color: #007bff;
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-weight: 900;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f078";
  transform: translateY(-50%);
  transition: .3s ease;
}

details[open] summary::after {
  content: "\f057";
  font-size: 30px;
  top: 0;
  transform: translateY(0);
  transition: .3s ease;
}

details[open] summary:hover::after {
  animation: pulse 1s ease;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}